<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/sumansunar99" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a  href="" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a  href="sinaeve077@gmail.com" target='_blank'>sinaeve077@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a  href="https://github.com/sumansunar99" target="_blank" rel="nofollow noopener noreferrer">
            <div></div>
        </a>
        <a  href="" target="_blank" rel="nofollow noopener noreferrer">
            <!-- <div class="mt-2">Designed by suman sunar</div> -->
        </a>
    </div>

</footer>