<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p   data-aos="fade-up" data-aos-duration="1000">
                            I am a hardworking and ambitious individual with a great passion for the work given to me. I am highly competent
                            in designing websites and apps. I have excellent communication skills, enabling me to effectively communicate
                            with a wide range of people.
                            In my  <span class="underline"> 6 month OJT as a developer</span>, I seek to train every day. I am performing <span class="underline">continuous integration </span>, and covering front-end developer roles with
                        </p>

                        <p>
                           <span class="underline"> JavaScript, TypeScript, Angular, React</span>. I have led teams having empathy, exercising motivation to partners, and setting plans and goals together.
                        </p>

                        <p>My skills also include implementing system improvements, optimizing sites, standardizing patterns, and suggesting and executing ideas that add value to the project I'm working on.</p>


                        <p>Some of the technologies that I have trained and worked on include (but are not limited to):</p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Nestjs </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Laravel</span></li>
                
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">CSS </span></li>
                 
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Ionic </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Bootstrap, Fontawsam </span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")'  width="300" height="300" src="assets/images/me/sina.jpg" alt="Git User">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
